.wrapper {
  padding: 20px;
  border: 1px dotted black;
  border-bottom: 0px;
  border-top: 0px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: black 100px 0px 70px;
}
.link {
  text-decoration: none;
  color: black;
}
